body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "font_regular";
  height: 100vh;
  /* overflow: hidden; */
  background-color: var(--color-background);
  color: var(--text-primary);
}

.meteo-app {
  padding: 8px 16px;
}

.meteo-app .app-title {
  font-size: 32px;
  line-height: 40px;
  margin: 0;
  letter-spacing: 1px;
}

.meteo-app .search-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
  width: 100%;
  height: 30px;
}

.meteo-app .search-wrapper #user-input {
  flex-grow: 1;
  height: 100%;
  border-radius: 4px;
  padding: 0;
  background-color: #fff;
  border: 0;
  padding: 0 8px;
  -webkit-box-shadow: 6px 4px 9px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 4px 2px 9px 0px rgba(0, 0, 0, 0.6);
}

.meteo-app .search-wrapper #user-input:focus-visible {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 0px 2px #000;
  -moz-box-shadow: inset 0px 0px 0px 2px #000;
  box-shadow: inset 0px 0px 0px 2px #000;
}

.meteo-app .search-wrapper .search-button {
  width: 90px;
  height: 100%;
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 6px 4px 9px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 4px 2px 9px 0px rgba(0, 0, 0, 0.6);
  font-family: "font_regular";
  font-size: 16px;
}

/* meteo section style */
.meteo-app .data-wrapper {
  margin-top: 16px;
}

.meteo-app .data-wrapper .meteo-card {
  width: 75%;
  margin: 0 auto;
  padding: 4px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.42);
}

.meteo-app .data-wrapper .meteo-card .location-city {
  font-size: 26px;
  text-align: center;
}

.meteo-app .data-wrapper .meteo-card .meteo-location-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.meteo-app .data-wrapper .meteo-card .meteo-location-wrapper .location-data {
  display: flex;
  align-items: center;
  gap: 4px;
}

.meteo-app .data-wrapper .meteo-card .meteo-data {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* forecast section style */
.meteo-app .data-wrapper .forecast-card {
  margin-top: 16px;
}

.meteo-app .data-wrapper .forecast-card .forecast-data {
  margin-bottom: 8px;
}

.meteo-app .data-wrapper .forecast-card .forecast-hours-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  gap: 16px;
  padding-bottom: 10px;
}

.meteo-app .data-wrapper .forecast-card .forecast-hours-wrapper .forecast-hour {
  flex: 0 0 auto;
  width: 200px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.42);
  padding: 8px;
  overflow: hidden;
}

.meteo-app
  .data-wrapper
  .forecast-card
  .forecast-hours-wrapper
  .forecast-hour
  .condition-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.meteo-app
  .data-wrapper
  .forecast-card
  .forecast-hours-wrapper
  .forecast-hour
  .condition-wrapper
  > div {
  display: flex;
  flex-direction: column;
}

/* error message */
.data-wrapper .error-msg {
  font-family: "heading_font";
  font-size: 26px;
  font-style: italic;
}

/* fonts and root styles */
@font-face {
  font-family: "font_regular";
  src: url("./assets/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "heading_font";
  src: url("./assets/Lato-Bold.ttf") format("truetype");
}

:root {
  --color-background: #4285dd;
  --error-red: #a30000;
  --text-primary: #14133b;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
